@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css');

* {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  background-color: #f1f1f1;
}

h1,
h2 {
  color: #333;
}

i {
  cursor: pointer;
  right: 0px;
  top: 0px;
}

i:hover {
  font-size: xx-large !important;
}

.my-modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 100;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.my-backdrop {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.actions {
  padding: 2px 0;
}
